@page
@model reciepe.Pages.FeedbackModel
@{
    ViewData["Title"] = "Feedback";
}
<link href="~/css/feedback.css" rel="stylesheet" />
<nav>
    <ul>
        <li><a style="text-decoration:none;" href="/Index">Home</a></li>
        <li><a style="text-decoration:none;" href="/About">About Us</a></li>
        <li><a style="text-decoration:none;" href="/Reciepe">Recipe</a></li>
        <li><a style="text-decoration:none;" href="/Contact">Contact Us</a></li>
        <li><a style="text-decoration:none;" href="/feedback">FeedBack</a></li>
    </ul>
</nav>
<h1>Feedback</h1>

@if (!string.IsNullOrEmpty(Model.ResultMessage))
{
    <p style="color: green">@Model.ResultMessage</p>
}

<form method="post">
    <label>Name:</label>
    <input type="text" asp-for="Name" required /><br />

    <label>Email:</label>
    <input type="email" asp-for="Email" required /><br />

    <label>Message:</label>
    <textarea asp-for="Message" required></textarea><br />

    <button type="submit">Send Feedback</button>
</form>
